.label {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  row-gap: 10px;
}
.input {
  outline: none;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.2s;
  max-width: 255px;
}
.input:focus {
  border-color: blue;
}
