.ContactsListItem {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.button {
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 10px 20px;
  color: #000;
  text-align: center;
  box-shadow: 0 6px #999;
  transition: all 0.2s;
  cursor: pointer;
}
button:hover {
  color: #fff;
  background-color: #000;
  border-color: transparent;
}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
